API_KEY=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

MODEL=qwen/qwen-2.5-72b-instruct
AUX_MODEL=qwen/qwen-2.5-72b-instruct

MODEL_TEMPERATURE=0.7
AUX_MODEL_TEMPERATURE=0.7

RESPONSE_MAX_TOKENS=1024

MAX_HISTORY=20
SENSOR_READ_INTERVAL=15
